body {
    background-color: #B0DAFF;
    font-family: 'Oswald', sans-serif;
    letter-spacing: .2rem;
}

#mainNavbar {
    font-size: 1.2rem;
}

#mainNavbar .nav-link {
    color: white;
} 

#mainNavbar .nav-link:hover {
    color: #B0DAFF;
} 

#mainNavbar .navbar-brand {
    color: #B0DAFF;
    font-size: 1.5rem;
}

Header {
    background-color: white;
}

img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

#Pg-Light {
    object-position: 70% 0;
}

#Le-Light {
    object-position: 20% 0;
}

h1 {
    font-size: 4rem;
    color: #212529;
    line-height: 5rem;
}

header div {
    color: #212529;
}

p {
    line-height: 1.5rem;
}

.article {
    max-width: 80%;
    margin: auto;
}

@media (max-width: 992px) {
    .article {
        max-width: 65%;
    }
}